body {
    font-family: 'Open Sans', Arial, sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

#mainNav .nav{
    float:none;
}

#mainNav .pull-right{
    float:right;
}

#mainNav.navbar .dropdown-menu{
    min-width:200px;
    border-radius:0;
    margin:0;
}

#mainNav.navbar .pull-right .dropdown-menu{
    right: -2px;
    left: auto;
}

#mainNav.navbar .nav > li > a {
     max-width: 178px; 
     overflow: hidden; 
     
     display: block; 
     white-space: nowrap; 
     color: #FFF; 
     line-height: 24px; 
     
}

#mainNav.navbar .nav > li.open > a {
    color: #444;
    background: #FFF;
}

#mainNav.navbar .dropdown-menu::before, #mainNav.navbar .dropdown-menu::after {
    content:none;
}

.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);

}


